.container {
  margin-bottom: 80px;
}

.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  max-width: 54vw;
}

#current-tries {
  display: flex;
  align-items: center;
}

#current-tries .label {
  display: inline-block;
  margin-right: 5px;
}

.current-number {
  font-size: 15px;
}

#best {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#best .label {
  margin-bottom: 5px;
}

.best-number {
  font-size: 30px;
}

@media(max-width:600px) {
  .info-line {
    max-width: 99vw;
  }
}
